#container_title {
    position: relative;
    width: 100%;
    padding-top: 20%; 
    overflow: hidden;
    background-color: #ddd;
}

#container_title #title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%); 
}

*{
    background-color: #ddd;
}

#resultadoFinal {
 display: grid;
            place-items: center;  
}

#resultado {
    text-align: center;
    font-size: large;
    font: 1em verdana;
}

@media (max-width: 1250px) {
    #button{
        margin-bottom: 10%;
     }

     #container_title {
        position: relative;
        width: 100%;
        padding-top: 50%; /* Relación de aspecto 2:1 (50% altura del ancho) */
        overflow: hidden;
        background-color: #9583B6;
    }
    
    #container_title #title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%); 
    }
    
    *{
        background-color: #9583B6;
    }

}