.global {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


*{
    background-color: #d5caca;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

#resultadoFinal {
 display: grid;
            place-items: center;  
}
 
select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 17px;
    background: white;
}

.titulo-select{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #FFFF;
}

#resultado {
    text-align: center;
    font-size: large;
    font: 1em verdana;
}

@media (max-width: 1250px) {
    #button{
        margin-bottom: 10%;
     }

    
}

.error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

.ok {
    border: 2px solid rgb(30, 143, 20) !important;
    background-color: #ffe6e6;
}